<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        tooltip="BMG 26"
      >
        <span> BMG• </span> 26
      </a>
    
    </div>
   
  </div>
</nav>
<div class="wrapper">
  <div class="content">
    <div class="card">
      <div class="card-header">
       
  
        <h4 class="card-title">Entrar</h4>
      </div>
      <div class="card-body">
       
      </div>
      <div class="card-footer">
        <a
          class="btn btn-primary btn-bmg btn-lg"
          (click)="login()"
        >
          Entrar
        </a>
      </div>
    </div>
  </div>
 
  
</div>
