<nav
  class="navbar fixed-top navbar-transparent"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        tooltip="BMG 26"
      >
        <span> BMG• </span> 26
      </a>
    
    </div>
   
  </div>
</nav>
<div class="wrapper">
  <div class="content">
     

    
      <a [routerLink]="['/saude-financeira']" clas="btn btn-primary btn-bmg btn-lg">Quero aprender mais sobre educaçao financeira</a>
    </div>
  
  
</div>









